/* MessageInput.css */
.message-input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 60%;
  margin-left: 20%;
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.message-input input {
  flex: 1;
  padding: 20px;
  border: none;
  outline: none;
  border-radius: 30px; /* Add border-radius for rounded corners */
  font-size: 18px;
  width: 300px; /* Set input width to 50% of viewport width */
  color: rgb(43, 40, 40);
}

.message-input button.send-button {
  background-color: #204d7d;
  color: #fff;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 10px; /* Add border-radius for rounded corners */
}
