body {
    margin: 0;
    background-color: #DDBEAA;
}

.talkTo {
    font-size: 60px;
    margin: 0px;
    font-weight: 600;
    width:100%;
}

.heading {
    text-align: center;
    margin-left: 28%;
    width: 100%;
}

.centerPortion {
    width: 100%;
    margin-top: 60px;
    margin-left: 30%;
    width: 400px;
}

.loginPortion {
    margin-top: 20px;
    width: 100%;
    margin-left: 35%;
  }
  
  .email {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0;
  }
  
  .loginPortion input {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 310px;
    padding: 15px; /* Increased padding for spacing inside the input */
    font-size: 16px; /* Increased font size */
  }
  
  .loginPortion button,.submitButton {
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 340px;
    padding: 15px; /* Increased padding for spacing inside the button */
    font-size: 16px; /* Increased font size */
    cursor: pointer;
  }
  
  .loginPortion button:hover,.submitButton:hover {
    background-color: #555;
  }

  .link{
    text-decoration: none;
    color:white;
  }
  .error-message {
    color: rgb(144, 36, 36);
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0; /* Add margin for spacing */
    /* You can add more styles as needed */
  }
  
  .submitButton{
    margin-left:40%;
  }
  .center{
    text-align:center;
  }
  .chatPage{
    height: 550px;
  }
  .blogsPageText{
    text-align: center;
    font-size: 40px;
  }