body {
    margin:0;
    
  }
nav {
    display:flex;
    margin-left:30px;
    margin-top:10px;
    margin-right:30px;
    flex-wrap: wrap;    
    background-color: #78695d !important;
    border-radius:20px;
    padding:10px;

}
nav div{
    flex: 1 1 32%;
    font-size:25px;
    text-align:center;
}
.red{
    color:rgb(190, 188, 188);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}
nav div :hover{
    color:white;
}
